html {
 background-color: 	#1e2124;
 max-width: 100%;
 text-decoration: none;
 overflow-x: hidden;
 color:white;
 font-family: "nunito", serif;
}
h1, h2, h3 {
    color:white;
}

// wrapper class for inline list elements
.wrapper{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
