

@media (min-width: 1250px) and (max-width: 1700px){
  html{
    overflow-x: hidden;
  }
    .imageContainer{
        position:relative;
        display:block;
        justify-content: space-around;
      }
      .headerImage{
        width: 80%;
        height: 0 auto;
        padding-left: 30vw;
        left: 25vw;
      }
      .titleText {
        left: -8vw;
        top: clamp(5vh, 10vh, 15vh);
        
      }
      h2 .titleText {
        font-size: 80%;
      }
      button {
        button{
          height:120%;
          width: 120%;
        }
      }
}
@media (min-width: 700px) and (max-width: 1250px){
  html{
    overflow-x: hidden;
  }
  .imageContainer{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    left: 20vw;
    width: 75%;
    margin-right: -440px;
  }
  .headerImage{
    width: 80%;
    height: 0 auto;
    right: 15vw;
    padding-top: 5%;
  }
  .titleText {
   top: 0;
   right: 15vw;
  }
  .largeText {
    font-size: 160%;
  }
  .title{
    font-size: 30%;
  }
  button{
    height:120%;
    width: 120%;
  }
  .projectButton {
    width: 20%;
    height: auto;
}
form {
  width: 120%;
  
}
.contacts {
  padding-left: -10%;
}
.skillsWrapper {
  padding-left: 5%;
  padding-right: 5%;
}
.introText {
  padding-right: 5%;
}
}
@media (min-width: 320px) and (max-width: 700px){
  .imageContainer{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    left: 10vw;
    width: 75%;
  }
  ul.navItems {
    font-size: 100%;
    padding-left: -5%;
  }
  nav ul {
    justify-content: center;
    padding-left: -40px;
  }
  .navWrapper{
    position: relative;
    left:-9vw;
    padding: 0px;
    justify-content: center;
  }
  .headerImage{
    width: 120%;
    height: 0 auto;
    right: 5vw;
    padding-top: 15%;
  }
  .titleText {
   top: 0;
   right: 10vw;
  }
  .largeText {
    font-size: 140%;
  }
  button{
    height:100%;
    width: 100%;
  }
  .projectButton {
    width: 20%;
    height: auto;
}
form,.center {
  position: relative;
  padding-left: -50px;
}
.aboutMe {
  padding-right: 20%;
}
.contactWrapper{
  padding-left: -15%;
}
form textarea{
  width: 80%
}
form [type="text"],
form [type="email"],
.StripeElement {
  width: 60%;
}
.submitBtn {
  width: 30%;
}
.projectWrapper {
  padding-left: 10%;
  padding-right: 15%;
}
.skillsWrapper {
  padding-left: 5%;
  padding-right: 5%;
}
.introText {
  padding-right: 5%;
  font-size: 85%;
}
   .largeText {
    font-size: clamp(80%, 100%, 110%);
  }
  .typing{
    font-size: 60%;
  }
  .skillsWrapper {
    display: flex;
    flex-direction: column;
  }
  h1 {
    display:none;
  }
  .projectList {
    display: flex;
    flex-direction: column;
  }
  .projectPic {
    width:100%;
    height: auto;
  }
  footer {
    padding-left: 1%;
  }
}