html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcinneraption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contactWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 2vw;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.navWrapper {
  padding: 0px 2vw;
  font-family: "nunito", serif;
  -webkit-text-decoration: white;
          text-decoration: white;
}

.imageContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 18vw;
  width: 100vw;
}

.titleText {
  position: absolute;
  top: 240px;
  left: -15px;
  margin: 0;
}

.largeText {
  font-size: 3rem;
  font-family: "nunito", serif;
  font-weight: 700;
  color: #3D48AE;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  font-family: "PT Sans", serif;
}

.headerImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  font-family: "nunito", serif;
  width: 8vw;
  height: 5vh;
  border-style: none;
  color: white;
  background-color: #FBAF01;
}

.contactButton {
  padding-top: -2vh;
}

ul.navItems li {
  text-decoration: none;
  color: white;
  padding-top: 2vh;
}

a {
  text-decoration: none;
  color: white;
}

.typing {
  width: 22ch;
  -webkit-animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2rem;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.typingFooter {
  width: 40ch;
  -webkit-animation: typing 2s steps(40), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(40), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 1rem;
  padding-top: 1.5vh;
}

.aboutImg {
  width: 100%;
  height: auto;
}

.aboutMe {
  background-color: black;
  padding: 1%;
  padding-right: 3%;
}

.aboutMeText {
  margin-bottom: 0;
  color: #3D48AE;
}

.introText {
  font-family: "PT Sans", serif;
  color: white;
}

.skillsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #3D48AE;
}

.skillsList li {
  margin-bottom: 20%;
}

.skillsSummary {
  margin-top: -30px;
}

.projectWrapper {
  padding-bottom: 5%;
}

.projectTitle {
  padding-left: 13%;
  font-size: 3rem;
}

.projectPic {
  width: 20%;
  height: auto;
}

.projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8%;
  padding: 1%;
}

.projectHeader {
  font-size: 1.5rem;
}

.projectSkills {
  color: #3D48AE;
  font-size: 0.8rem;
}

.delicious {
  position: relative;
  left: 1.1vw;
}

div.projectInfo p, div.projectInfo button {
  position: relative;
  left: 1.1vw;
}

.contacts {
  padding-left: 14%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* formspree styles */
/* reset */
form input,
form select,
form textarea,
form fieldset,
form optgroup,
form label,
.StripeElement {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form label,
form legend {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}

/* border, padding, margin, width */
form input,
form select,
form textarea,
.StripeElement {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form input:focus,
form select:focus,
form textarea:focus,
.StripeElement:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

form [type=text],
form [type=email],
.StripeElement {
  width: 40%;
}

form [type=button],
form [type=submit],
form [type=reset] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

form [type=button]:focus,
form [type=submit]:focus,
form [type=reset]:focus {
  outline: none;
}

form select {
  text-transform: none;
}

form textarea {
  width: 50%;
}

.submitBtn {
  width: 10%;
  color: rgba(0, 0, 0, 0.6);
}

.fillIn {
  color: black;
}

img {
  height: 0 auto;
}

form {
  padding-left: 3.5%;
}

ul {
  list-style: none;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skillsText {
  font-size: 3rem;
}

.skillsSummary {
  padding-left: 2.5%;
}

.icon:hover {
  font-size: 200%;
}

footer {
  background-color: black;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  background-color: #1e2124;
  max-width: 100vw;
  text-decoration: none;
  overflow-x: hidden;
  color: white;
  font-family: "nunito", serif;
}

h1, h2, h3 {
  color: white;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.center {
  justify-self: center;
  position: relative;
}

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

html {
  font-size: 120%;
}

@media (min-width: 1250px) and (max-width: 1700px) {
  html {
    overflow-x: hidden;
  }
  .imageContainer {
    position: relative;
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .headerImage {
    width: 80%;
    height: 0 auto;
    padding-left: 30vw;
    left: 25vw;
  }
  .titleText {
    left: -8vw;
    top: 10vh;
  }
  h2 .titleText {
    font-size: 80%;
  }
  button button {
    height: 120%;
    width: 120%;
  }
}
@media (min-width: 700px) and (max-width: 1250px) {
  html {
    overflow-x: hidden;
  }
  .imageContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 20vw;
    width: 75%;
    margin-right: -440px;
  }
  .headerImage {
    width: 80%;
    height: 0 auto;
    right: 15vw;
    padding-top: 5%;
  }
  .titleText {
    top: 0;
    right: 15vw;
  }
  .largeText {
    font-size: 160%;
  }
  .title {
    font-size: 30%;
  }
  button {
    height: 120%;
    width: 120%;
  }
  .projectButton {
    width: 20%;
    height: auto;
  }
  form {
    width: 120%;
  }
  .contacts {
    padding-left: -10%;
  }
  .skillsWrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
  .introText {
    padding-right: 5%;
  }
}
@media (min-width: 320px) and (max-width: 700px) {
  .imageContainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 10vw;
    width: 75%;
  }
  ul.navItems {
    font-size: 100%;
    padding-left: -5%;
  }
  nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: -40px;
  }
  .navWrapper {
    position: relative;
    left: -9vw;
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerImage {
    width: 120%;
    height: 0 auto;
    right: 5vw;
    padding-top: 15%;
  }
  .titleText {
    top: 0;
    right: 10vw;
  }
  .largeText {
    font-size: 140%;
  }
  button {
    height: 100%;
    width: 100%;
  }
  .projectButton {
    width: 30%;
    height: auto;
  }
  form, .center {
    position: relative;
    padding-left: -50px;
  }
  .aboutMe {
    padding-right: 20%;
  }
  .contactWrapper {
    padding-left: -15%;
  }
  form textarea {
    width: 80%;
  }
  form [type=text],
  form [type=email],
  .StripeElement {
    width: 60%;
  }
  .submitBtn {
    width: 30%;
  }
  .projectWrapper {
    padding-left: 10%;
    padding-right: 15%;
  }
  .skillsWrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
  .introText {
    padding-right: 5%;
    font-size: 85%;
  }
  .largeText {
    font-size: 100%;
  }
  .typing {
    font-size: 60%;
  }
  .skillsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h1 {
    display: none;
  }
  .projectList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectPic {
    width: 100%;
    height: auto;
  }
  footer {
    padding-left: 1%;
  }
}